form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
label {
    font-weight: bold;
  }
  
.input-create {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ocupa todo o espaço horizontal */
  }